[submodule "vim-align"]
	path = vim-align
	url = git://github.com/tsaleh/vim-align.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim-jsx"]
	path = vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "syntastic"]
	path = syntastic
	url = git@github.com:scrooloose/syntastic.git
