[submodule "vim-javascript-lib"]
	path = vim-javascript-lib
	url = git@github.com:crusoexia/vim-javascript-lib.git
[submodule "vim-javascript"]
	path = vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nerdtree-git-plugin"]
	path = nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule "vim-devicons"]
	path = vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "space-vim-dark"]
	path = space-vim-dark
	url = git@github.com:liuchengxu/space-vim-dark.git
